doctype html

html
  head
    title Alliance Dashboard
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //if lte IE 8
      script(src='assets/js/ie/html5shiv.js')
    link(rel='stylesheet', href='/stylesheets/main.css')
    //if lte IE 8
      link(rel='stylesheet', href='/stylesheets/ie8.css')
    //if lte IE 9
      link(rel='stylesheet', href='/stylesheets/ie9.css')
    script(src='http://d3js.org/d3.v3.min.js')
    script(src='http://d3js.org/topojson.v1.min.js')
    script(src='/javascripts/datamaps.world.min.js')
    script(src='/javascripts/jquery.min.js')
    script(type='text/javascript', src='http://code.highcharts.com/highcharts.js')
    script(type='text/javascript', src='http://code.highcharts.com/modules/exporting.js')

    //Map
    //script(src='https://code.jquery.com/jquery-3.1.1.min.js')
    script(type='text/javascript',src='http://code.highcharts.com/maps/modules/map.js')
    script(type='text/javascript',src='https://code.highcharts.com/maps/modules/data.js')
    //script(src='https://code.highcharts.com/maps/modules/exporting.js')
    script(type='text/javascript',src='https://code.highcharts.com/maps/modules/offline-exporting.js')
    script(type='text/javascript',src='https://code.highcharts.com/mapdata/custom/world.js')

    script(type='text/javascript').
      $(window).load(function(){
        
        var gdp = !{JSON.stringify(gdp)}
        //console.log(gdp)
        var ppp = !{JSON.stringify(ppp)}
        var pop = !{JSON.stringify(pop)}

        var liv = !{JSON.stringify(liv)}
        var spend = !{JSON.stringify(spend)}
        var ease = !{JSON.stringify(ease)}

        var gdpreal = !{JSON.stringify(gdpreal)}

        var g7gdp1 = !{JSON.stringify(g7gdp1)}
        var g7gdp2 = !{JSON.stringify(g7gdp2)}
        var g7cpi1 = !{JSON.stringify(g7cpi1)}
        var g7cpi2 = !{JSON.stringify(g7cpi2)}

        var bricgdp = !{JSON.stringify(bricgdp)}
        var briccpi = !{JSON.stringify(briccpi)}
        var bricpop1 = !{JSON.stringify(bricpop1)}
        var bricpop2 = !{JSON.stringify(bricpop2)}

        var mistgdp = !{JSON.stringify(mistgdp)}
        var mistcpi = !{JSON.stringify(mistcpi)}
        var mistpop = !{JSON.stringify(mistpop)}

        var gdp4 = !{JSON.stringify(gdp4)}
        var cpi4 = !{JSON.stringify(cpi4)}
        var pop4 = !{JSON.stringify(pop4)}

        var ug7 = !{JSON.stringify(ug7)}
        var ubric = !{JSON.stringify(ubric)}
        var umist = !{JSON.stringify(umist)}
        var u4 = !{JSON.stringify(u4)}

        var retg7 = !{JSON.stringify(retg7)}
        var retbric = !{JSON.stringify(retbric)}
        var retmist = !{JSON.stringify(retmist)}
        var ret4 = !{JSON.stringify(ret4)}

        //console.log(json);
        //makeLine(data);
        GDP(gdp);
        PPP(ppp);
        Popul(pop);
        livStand(liv);
        cSpend(spend);
        easeDB(ease);
        
        GroupGPDreal(gdpreal);
        /*
        //GroupGPDnom(gdpnom);
        //GroupPop(grpop);
        */
        G7realGDP1(g7gdp1);
        G7realGDP2(g7gdp2);
        G7_CPI1(g7cpi1);
        G7_CPI2(g7cpi2);

        BRICrealGDP(bricgdp);
        BRIC_CPI(briccpi);
        BRICpop1(bricpop1); 
        BRICpop2(bricpop2);
        
        MISTrealGDP(mistgdp);
        MIST_CPI(mistcpi);
        MISTpop(mistpop);

        Tier4realGDP(gdp4);
        Tier4_CPI(cpi4);
        Tier4pop(pop4);

        G7unemp(ug7);
        BRICunemp(ubric);
        MISTunemp(umist);
        Tier4unemp(u4);

        G7retail(retg7);
        BRICretail(retbric);
        MISTretail(retmist);
        Tier4retail(ret4);

        getMap();
        //getWorld();
      }); // Closes window.load
  body
    // Nav
    nav#nav
      ul.container
        li
          a(href='#top') Alliance
        li
          a(href='#work') World
        li
          a(href='#portfolio') Data
        block navigation
        
    // Home
    .wrapper.style1.first
      article#top.container
        .row
          div(class='4u 12u(mobile)')
            span.image.fit
              img(src='/images/pic00.jpg', alt='')
          div(class='8u 12u(mobile)')
            header
              h1
                | Alliance 
                strong Data
                | .
            p
              | And this is 
              strong World Alliance
              | , a fully responsive economic dashboard designed by  
              a(href='#') UT-Dallas Software Engineering Capstone Project Team
              |  for 
              a(href='https://www.alliancedata.com/') Alliance Data

        //- label Year  
        //-   select(class='selectpicker' data-style='btn-info' name='selectpicker')
        //-     option(name='year', id= '2017', value='2017') 2017
        //-     option(name='year', id= '2016', value='2016') 2016 
        //-     option(name='year', id= '2015', value='2015') 2015 
        //-     option(name='year', id= '2014', value='2014') 2014
        
          //variables will be the passed-in "array" that we want to read from, the field year in mongo

          br

          -var qbs = ['Romo', 'Tony', 'Best', 'Ever', '9']
          
          select#year
            each qb in qbs
              option= qb

        //- label Year  
        //-   select#one 
        //-     if year
        //-       each yr in year
        //-         option #{yr}


    // Work
    .wrapper.style2
        article#work
          div
            //- #worldMap
            //-   .loading
            //-     i.icon-spinner.icon-spin.icon-large
            //-     |         Loading data from Google Spreadsheets...
            //#random(style='border:1px solid black;width: 80%;position: relative; text-align: left; margin-left: auto; margin-right: auto; padding-bottom: 0em;')
            // Flag sprites service provided by Martijn Lafeber, https://github.com/lafeber/world-flags-sprite/blob/master/LICENSE
            link(rel='stylesheet', type='text/css', href='//github.com/downloads/lafeber/world-flags-sprite/flags32.css')
            #random(style='border:1px solid black;height: 600px;width: 800px;min-width: 70%; max-width: 100%;position: relative; text-align: left; margin: 0 auto;')
    // Portfolio HERERERE
    .wrapper.style3
      article#portfolio
        header
          h2 Economic Visualization
          p
            | Different charts displaying data for important decisions
        .container
          #char1(style='min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto')
          label Year  
            select#one 
              if year
                each yr in year
                  option #{yr}
          br
          #char2(style='min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto')
          br
          #char3(style='min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto')
          br
          #char4(style='min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto')
          br
          #char5(style='min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto')
          br
          #char6(style='min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto')
          br
          #char7(style='min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto') 
          br
          #char8(style='min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto')  
          br
          #char9(style='min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto')  
          br
          #char10(style='min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto')  
          br
          #char11(style='min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto')
          br
          #char12(style='min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto')  
          br
          #char13(style='min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto')  
          br
          #char14(style='min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto')  
          br
          #char15(style='min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto')
          br
          #char16(style='min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto')  
          br
          #char17(style='min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto')  
          br
          #char18(style='min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto')  
          br
          #char19(style='min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto')  
          br
          #char20(style='min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto')  
          br
          #char21(style='min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto')  
          br
          #char22(style='min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto')
          br
          #char23(style='min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto')
          br
          #char24(style='min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto')
          br
          #char25(style='min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto')
          br
          #char26(style='min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto')
          br
          #char27(style='min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto')
          br
          #char28(style='min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto')
          br
          #char29(style='min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto')
          br
          #char30(style='min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto')
          br
          #char31(style='min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto')    

    ul
      if layout
        each country, i in layout
          li#layout
            a(href='#') #{country.name} : Year #{country.year}

          #char30(style='min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto')
          br
          #char31(style='min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto')    
                  
    .wrapper.style4 
      article#upload
        block content
    // Scripts
    
    script(src='/javascripts/jquery.scrolly.min.js')
    script(src='/javascripts/skel.min.js')
    script(src='/javascripts/skel-viewport.min.js')
    script(src='/javascripts/util.js')
    //if lte IE 8
      script(src='assets/js/ie/respond.min.js')
    script(src='/javascripts/main.js')
    script(type='text/javascript', src='/javascripts/scripts.js')
